body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(255, 114, 114, 0.1);
    padding: 10px 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.shopping {
    font-size: 32px;
    font-weight: bold;
    color: #ffccc8;
    cursor: pointer;
}

.menubar-container {
    background-color: #ffccc8;
    padding: 10px 0;
}

.list {
    display: flex;
    justify-content: center;
}

.list li {
    margin: 0 15px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.list li:hover {
    color: #ff74ca;
}

.list li a {
    color: inherit;
    text-decoration: none;
}

.list li a:hover {
    color: #ff74ca;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 8px;
}

.search-input {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 8px 15px;
    font-size: 15px;
    border: 1px solid #ddd;
    background-color: #ffccc8;
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lip-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* 이미지 넓이 조정 */
    gap: 40px;
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 50px;
    margin-bottom: 90px;
}

.lip {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.lip:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 최대 너비 설정 */
}
