body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(255, 114, 114, 0.1);
    padding: 10px 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.shopping {
    font-size: 32px;
    font-weight: bold;
    color: #ffccc8;
    cursor: pointer;
}

.menubar-container {
    background-color: #ffccc8;
    padding: 10px 0;
}

.list {
    display: flex;
    justify-content: center;
}

.list li {
    margin: 0 15px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.list li:hover {
    color: #ff74ca;
}

.text {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.kos {
    float: left;
    margin-left: 87px;
    margin-top: 10px;
}

.mac {
    width: 275px;
    aspect-ratio: 1/1;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.mac:hover {
    transform: translateY(-5px); /* 호버시 이미지를 위로 5px 이동 */
}

.line {
    width: 82%;
    height: 1.5px;
    background-color: #ffdad6;
    margin: 20px auto;
    margin-top: 360px;
}


.talk {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.like-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; 
}

.shop {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}

.Good {
    text-align: center;
    margin-top: 25px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.MD {
    border-radius: 12px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 35px;
    margin-bottom: 80px;
}

.MD img {
    width: 300px; /* 원하는 너비로 설정 */
    height: 300px; /* 원하는 높이로 설정 */
    object-fit: cover;
}

.make:hover {
    transform: translateY(-4px);
}

.long {
    width: 53%;
    height: 1.5px;
    background-color: #ffdad6;
    margin: 20px auto;
    margin-top: 30px;
}

.list li {
    margin: 0 15px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.list li a {
    text-decoration: none; /* 링크 효과 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}

.list li:hover {
    color: #ff74ca;
}