body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(255, 114, 114, 0.1);
    padding: 10px 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.shopping {
    font-size: 32px;
    font-weight: bold;
    color: #ffccc8;
}

.menubar-container {
    background-color: #ffccc8;
    padding: 10px 0;
    clear: both; /* float 해제 */
}

.list {
    display: flex;
    justify-content: center;
}

.list li {
    margin: 0 15px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.list li:hover {
    color: #ff74ca;
}

.text {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.kos {
    float: left;
    margin-left: 160px;
    margin-top: 10px;
}

.mac {
    width: 280px;
    aspect-ratio: 1/1;
    margin-top: 30px;
    border-radius: 7px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.mac:hover {
    transform: translateY(-5px); /* 호버시 이미지를 위로 5px 이동 */
}